.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header-actions h2 {
  font-size: 1.5rem;
  color: var(--text-main);
  font-weight: 600;
}

.table-responsive {
  overflow-x: auto;
}

.btn-text {
  background: none;
  border: none;
  color: var(--accent-color);
  font-weight: 600;
  cursor: pointer;
}

.btn-text:hover {
  text-decoration: underline;
}
